@media screen and (max-width: 767px) {
    
    .clearfix::after { 
        content: '';
        display: block; 
        clear: both;
    }

    .header { 
        width: 300px; 
    }

    .left{
        width: 100px;
    }

    .right-top{
        width: 200px;
    }

    .right-top-left { 
        width: 125px;
    }

    .yellow{
        width: 125px;
    }

    .blue{
        width: 125px;
    }

    .right-top-right{
        width: 75px;
    }

    .right-bottom{
        width: 200px;
        margin-left: 0px;
    }

    .footer {
        width: 300px;
    }
}

@media screen and (max-width: 479px) {

    .clearfix::after { 
        content: '';
        display: block; 
        clear: both;
    }

    .header { 
        width: 150px; 
    }

    .left{
        width: 150px;
    }

    .right-top-left { 
        width: 150px;
    }

    .right-top-right{
        float:left;
        width: 150px;
    }

    .right-bottom{
        width: 150px;
    }

    .footer {
        width: 150px;
    }
}
